{%extends 'base.html.twig'%}

{%block body %}
    
    <h2>{{ tipo_formulario }}</h2>
                
    {# No valida el formulario por defecto #}
    {{ form(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
    
    {{ form_start(formulario) }}
            
        {{ form_widget(formulario) }}
    {{ form_end(formulario) }}
    
    <p/>
    <a href="{{ url('home') }}">
        Volver
    </a>
    
{% endblock %}