{%extends 'base.html.twig'%}

{%block body %}
    <div class="panel panel-info">

        <div class="panel-heading">
            <h2>{{ tipo_formulario }}</h2>
        </div>
        <div class="panel-body">            
            {% if tipo_formulario == 'Registrar' %}
                {{ form_start(formulario) }}            
            {% else %}
                {{ form_start(formulario, {'attr': {'action': url('login')}}) }}            
            {% endif %}
                
            {% if errores %}
                <div><p style="color: red">{{ errores.messageKey|trans(errores.messageData, 'security') }}</p></div>
            {% endif %}                                         

            

            {% if tipo_formulario == 'Registrar' %}   
                <div id="form_user">     
                
                    {{ form_label(formulario.username, null, {'attr': {
                            'class': 'input-group-addon', 
                            'id': 'basic-addon1'
                    }}) }}
                    {{ form_widget(formulario.username, {'attr': {
                                'class': 'form-control', 
                                'placeholder': 'Nombre de usuario', 
                                'aria-describedby': 'basic-addon1',
                                'value': nombre_usuario                            
                    }}) }}
                
                </div>
                
                <div id="form_password" style="margin-top: 20px;">
                    {{ form_label(formulario.plainPassword, null, {'attr': {
                            'class': 'input-group-addon', 
                            'id': 'basic-addon1'
                    }}) }}        
                    {{ form_widget(formulario.plainPassword, {'attr': {
                            'class': 'form-control', 
                            'aria-describedby': 'basic-addon1'
                    }}) }}    
                </div>
                
                
                <div style="margin-top: 20px;">                   

                    {{ form_label(formulario.roles) }}<br/>

                    <div id="form_rol">

                        {% for opcion in formulario.roles.vars.choices %}                        
                            <div class="radio">
                                <label>
                                    <input type="radio" required="required" name="user[roles]" value="{{ opcion.value }}">{{ opcion.label }}</label>
                            </div>

                        {% endfor %}

                    </div>



                </div>
                
            {% else %}
                
                
                <div id="form_user">     
                
                    {{ form_label(formulario.username, null, {'attr': {
                            'class': 'input-group-addon', 
                            'id': 'basic-addon1',
                            'for': '_username'
                    }}) }}
                    {{ form_widget(formulario.username, {'attr': {
                                'class': 'form-control', 
                                'placeholder': 'Nombre de usuario', 
                                'aria-describedby': 'basic-addon1',
                                'value': nombre_usuario,
                                'name': '_username',
                                'id': '_username',
                                'value': nombre_usuario
                    }}) }}
                
                </div>
                
                <div id="form_password" style="margin-top: 20px;">
                    {{ form_label(formulario.plainPassword, null, {'attr': {
                            'class': 'input-group-addon', 
                            'id': 'basic-addon1',
                            'for': '_password'

                    }}) }}        
                    {{ form_widget(formulario.plainPassword, {'attr': {
                            'class': 'form-control', 
                            'aria-describedby': 'basic-addon1',
                            'name': '_password',
                            'id': '_password'
                    }}) }}    
                </div>
                                  
                
                <input type="hidden" name="_target_path" value="{{ url('inicio') }}" />
            {% endif %}



            <div style="margin-top: 20px; ">
                
               
                {{ 
                    include('elementos/boton.html.twig', {   
                        'tipo': 'submit', 
                        'estilo': '',
                        'color': 'verde', 
                        'ruta': '',
                        'texto': tipo_formulario 
                    }) 
                }}


                {# Incluye el boton de volver al menu principal #}
                {{ 
                    include('elementos/boton.html.twig', {   
                        'tipo': 'button', 
                        'estilo': '',
                        'color': 'azul', 
                        'ruta': url('home'), 
                        'texto': 'Volver' 
                    }) 
                }}
            </div>

            {# Protection to CSRF attacks #}
            {{ form_widget(formulario._token) }}               

            {{ form_end(formulario, {'render_rest': false}) }}                   
        </div>
        

    </div>

{% endblock %}        